.tree-cell .tree-disclosure-node .arrow {
    -fx-shape: null;
    -fx-background-color: null;
    -fx-background-image: url("file:///C:/Users/Vincenzo/IdeaProjects/SUPSI_Ingegneria_e_sviluppo_software_1/src/main/resources/icons/folder_Closed_24x24.png");

}
.tree-cell:expanded .tree-disclosure-node .arrow {

    -fx-shape: null;
    -fx-background-color: null;
    -fx-background-image: url("file:///C:/Users/Vincenzo/IdeaProjects/SUPSI_Ingegneria_e_sviluppo_software_1/src/main/resources/icons/folder_Open_12x12.png");

}
.tree-cell{
-fx-padding: 0.75em 1em 0.75em 0em ;

}